<html>
    <body>
      <form [formGroup]="newpasswordForm" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxLayoutAlign="space-around center" >
  <mat-card class="example-card">
    <mat-card-header class="example-header">
      
      <mat-card-title class="example-name-main">Fundoo</mat-card-title>
      <mat-card-subtitle class="example-name">New Password</mat-card-subtitle>
    
    </mat-card-header>
            <div class="example-container">
            <mat-form-field appearance="outline">
            <mat-label class="example-label">New Password</mat-label>
            <input type="password" formControlName="newpassword1" matInput placeholder="Enter New Password" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label class="example-label">Confirm Password</mat-label>
            <input type="password" formControlName="newpassword2" matInput placeholder="Re-enter Password" required>
            </mat-form-field>

    <mat-card-actions class="example-button">
      <button mat-button class="name-link" routerLink=""><b>Login</b></button>
      <!-- <button mat-button class="example-name-link" routerLink="/forgotpassword">Forgot Password ?</button> -->
      <button mat-button aria-label="Show an example snack-bar" mat-raised-button class="button-colour">Next</button>
    </mat-card-actions>
    </div>
    
  </mat-card>
</div>
</form>
</body>
  </html>