

.card-width{
    width:225px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
$mat-card-border-radius: 11px !default;

.mat-card {

    display: block;
    border-radius: $mat-card-border-radius;}
.title {
    margin-top: 6px;
    margin-bottom: 6px;
   
}
.changeColor{
    color: rgb(54, 54, 54);
}
.alignment{
    padding-top: 5px;
    padding-left: 1px;
    
}