.card-width{
    width:250px;
    margin-left: 10px;
    margin-top: 10px;
}
$mat-card-border-radius: 0px !default;

.mat-card {

    display: block;
    border-radius: $mat-card-border-radius;}
.title {
    margin-top: 6px;
    margin-bottom: 6px;
   
}