<div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center" >
  <div *ngFor="let note of data">
          <div fxLayout="column" fxLayoutAlign="space-between start" >
                  <mat-card class="card-width" [ngStyle]="{'backgroundColor': note.color}"  >
          <div fxLayout="column" >

     <div class="title" [style.fontSize.px]=21> {{note.title}}</div>
     <div class="description">{{note.description}}</div> 
     <div class="description">{{note.id}}</div> 
     <div class="description">{{note.color}}</div> 
     
<app-menubar></app-menubar></div>
</mat-card>
</div>
</div></div>