
<div fxLayout={{message}} fxFlex="90" fxLayoutAlign="center center" >
  <div *ngFor="let note of data">
        <div *ngIf="note.is_archived === false && note.is_deleted === false">
          <div fxLayout="column" fxLayoutAlign="space-between start" >
                  <mat-card  class="card-width" [ngStyle]="{'backgroundColor': note.color}" [ngClass]="{'width': message=='column wrap'}">
          <div fxLayout="column" >
              
     <div class="title" (click)="openDialog(note)" [style.fontSize.px]=21> {{note.title}}</div>
     <div class="description">{{note.description}}</div> 
     <div class="id" >noteid-{{note.id}}</div> 
     <div class="color">note color-{{note.color}}</div>
     <div class="color">userID-{{note.user}}</div>
     <div class="color">reminder-{{note.reminder}}</div>

     <div class="alignment">
            
            <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="menu">
                    <mat-icon style="font-size: 20px"  class="mat-18 changeColor">add_alert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="remainder(note)">

                          <mat-form-field>
                            <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>

                        </button>
                        <!-- <button mat-menu-item>Item 2</button> -->
                      </mat-menu>
        
        
                    <button mat-icon-button matTooltip="Delete" (click)="delete1(note)">
            <mat-icon style="font-size: 17px" class="mat-18 changeColor">delete
              </mat-icon></button>
                                                                                    <!-- "pin(note)" -->
              <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pin()">
                <ng-container *ngIf="pinValue===false">
                    <mat-icon style="font-size: 17px" class="mat-18 changeColor" svgIcon="unpinIcon"></mat-icon>
                </ng-container>
                <ng-container *ngIf="pinValue===true">
                    <mat-icon style="font-size: 17px" class="mat-18 changeColor" svgIcon="pinIcon"></mat-icon>
                </ng-container>
              </button>

              <button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="Labels" (click)="AddLabel(note)" >
                    <mat-icon style="font-size: 17px" class="mat-18 changeColor">label
                      </mat-icon></button>
                      <mat-menu #menu2="matMenu">
                        <div class="profile_menu1">
                          Add Labels
                          <input type="text" name="label" placeholder="label">
                          <!-- <div *ngFor="let note of data"><br> -->
                                        <!-- <div class="id" >noteid-{{note.id}}</div>
                                        <div class="id" >note Title-{{note.title}}</div>
                                        <div class="color">reminder-{{note.reminder}}</div> -->
                          <!-- </div> -->
                        </div> 
                        </mat-menu>
              
              </div>
<!-- <app-menubar></app-menubar> -->
</div>
</mat-card>
</div>
</div>
</div>
</div>

