<h2>only .jpeg file type allowed</h2>
<div class="row" class="width-dialog">
  <div class="col-md-6">
    <div *ngIf="fileUpload.status==='error'">
        <div [innerHTML]="fileUpload.message"></div>
    </div>
    <div *ngIf="fileUpload.status==='progress'">
        <div class="progress" style="height: 20px;margin-bottom:20px;">
          <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%</div>
        </div>
    </div>
    <form [formGroup] = "profileForm" (ngSubmit)="onSubmit(croppedImage)">
        <mat-card class="example-card">
            <mat-card-header class="example-header">
                <mat-card-title class="example-name-main">Fundoo</mat-card-title>
                <mat-card-subtitle class="example-name">Profile</mat-card-subtitle>
              
              </mat-card-header>
      <!-- <div class="form-group">
        <input type="text" formControlName="name" class="form-control" placeholder="Name">
      </div> -->
      <div class="form-group">
        <input type="file" name="profile" (change)="onSelectedFile($event)" />
      </div>
      
      <div class="form-group">
        <!-- <button type="submit" class="btn btn-success">Upload</button> -->
        <mat-card-actions>
            <button mat-button aria-label="Show an example snack-bar"  mat-raised-button class="button-colour">Upload</button>
                      </mat-card-actions>
      </div>
      
    </mat-card>
    </form>

    <image-cropper [imageChangedEvent]="imageChangedEvent" 
        
        (imageCropped)="imageCropped($event)"
        >
    </image-cropper>

    <img name="profile1" [src]="croppedImage" />

    <div *ngIf="fileUpload.status==='success'">
      <img [src]="fileUpload.filePath" height="200px" />
    </div>
    <p>{{ error }}</p>
  </div>
</div>