

  body { 
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    //background-color: aqua;
    // width: 400px;
    // padding-left: 420px;
    // padding-right: 200px;

    padding-top: 150px;
    padding-left: 450px;
    padding-bottom: 150px;
    
  }
  .example-container {
    display: flex;
    flex-direction: column;
    
  }

  
  
  .example-card{
    //background-color: rgba(255, 255, 255, 0.993);
    width: 340px;
  }
  
  .example-container {
    width: 100%;
    height: 100%;
  }

  .example-name {
    text-align: center;
    //padding-left: 112px;
    // padding-top: 5px;
    color:#1a73e8;
      //display: flex;
    //   justify-content: center;
    //   width: 300px;
      font-size: 15px;
    }
    .example-name-main{
        //padding-left: 90px;
        text-align: center;
      color:#000000;
        //display: flex;
        width: 300px;
        font-size: 25px;
      }
      
      .example-button{
        display: flex;
        justify-content:space-between;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
      }

      // .example-label{
      //     color: rgb(0, 0, 0);
          
      // }

      .name-link{
        color: #1a73e8;
      }

      .mat-form-field-appearance-outline {

        border-top-color: #000000;
        outline-color: blue;
      }
      .button-colour{
        background-color: #1a73e8;
      }

  
  
  
  