.editLadelTextArea {

    outline: none;
    resize: none;
    border: none;
  
  }
   /deep/ .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 0px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.dialog{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
.width-dialog{
  width: 600px;
  height: 180px;
}
.alignment{
  padding-top: 25px;
}
.button-padding{
  padding-left: 150px;
}
