<div  [ngStyle]="{'backgroundColor': data.color}" class="width-dialog">
  <div fxLayout="column" fxLayoutAlign="space-between start" >
     
          <div fxLayout="row" fxLayoutAlign="end" >
      <input matInput value={{data.title}} [formControl]="title" [style.fontSize.px]=20 class="dialog">
           
      <!-- pinunpin -->
      <!-- <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pin(data.id)">
      <mat-icon style="font-size: 20px" class="mat-18 changeColor" svgIcon="unpinIcon"></mat-icon></button> -->
    
    </div>
              <input matInput value= {{data.description}} [formControl]="description" [style.fontSize.px]=20 class="dialog">
              <div fxLayout="row" fxLayoutAlign="start" >
             </div>
              <div class="alignment">
                            
  <div fxLayout="row" fxLayoutAlign="space-around center" >

      <!-- remind me -->
    <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="menu">
      <mat-icon style="font-size: 20px" class="mat-18 changeColor">add_alert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item >

        <mat-form-field>
          <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </button>
      <!-- <button mat-menu-item>Item 2</button> -->
      <button mat-menu-item (click)='demo()'> Today is {{today | date}} 8 PM </button>
      <!-- <button mat-menu-item > The time is {{today | date:'jmZ'}}</button> -->
      <button mat-menu-item>d and t {{today | date:'short'}} </button>

      <button mat-menu-item> Next Week :Monday, 8 AM </button>
    </mat-menu>

    <!-- person add -->
      <!-- <button mat-icon-button matTooltip="Collaborator">
      <mat-icon style="font-size: 20px" class="mat-18 changeColor">person_add
      </mat-icon></button> -->
                                    
      <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
        <mat-icon style="font-size: 20px" class="mat-18 changeColor">color_lens</mat-icon></button>
       
        <mat-menu #colorMenu="matMenu"  class="colorMenu" [overlapTrigger]="false">
        <ng-template matMenuContent let-note="note">
        <div fxLayout="row wrap" fxLayoutAlign="end
                                               center" fxFlex="60">
        <div *ngFor="let color of colorCode">                                
        <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">                            
        <mat-icon  style="font-size: 40px"  class="colorIcons">fiber_manual_record</mat-icon>                                 
        </button>                               
        </div>
        </div>
        </ng-template>                          
        </mat-menu>                       

        <!-- <button mat-icon-button matTooltip="Archive" (click)="archive(data.id)">
                                            
      <mat-icon style="font-size: 20px" class="mat-18 changeColor">archive</mat-icon>
      </button> -->

      <!-- delete -->

      <!-- <button mat-icon-button matTooltip="Delete" (click)="delete(data)">
     <mat-icon style="font-size: 17px" class="mat-18 changeColor">delete
      </mat-icon></button> -->


      <!-- <button mat-icon-button matTooltip="more" >
      <mat-icon style="font-size: 20px" class="mat-18 changeColor">more_vert
      </mat-icon></button>

      <button mat-icon-button matTooltip="Undo" >
      <mat-icon style="font-size: 20px" class="mat-18 changeColor">undo
      </mat-icon></button>

      <button mat-icon-button matTooltip="Redo" >
      <mat-icon style="font-size: 20px" class="mat-18 changeColor">redo
      </mat-icon></button> -->

     <div class="button-padding" >
  <button mat-button class="button-align" (click)="updateNotes()">Close</button></div>
  </div>
</div>
</div>                              
  </div>