
  body { 
    font-family: Roboto, Arial, sans-serif;
    //background-color: aqua;
    // width: 400px;
    // padding-left: 420px;
    // padding-right: 200px;
    padding-top: 150px;
    padding-left: 450px;
    padding-bottom: 150px;
    
  }


  .example-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .example-card{
    //background-color: rgba(238, 215, 215, 0.993);
    width: 300px;
  }

  .example-name-main{
    // padding-left: 5px;
    // padding-right: 20px;
    //align-items: center;
    //align-content: center;
    padding-left: 90px;
  color:#000000;
    //display: flex;
    width: 300px;
    font-size: 25px;
  }
  .example-name {
    justify-content: center;
    padding-left: 75px;
    // padding-top: 5px;
    color:#1a73e8;
      //display: flex;
    //   justify-content: center;
    //   width: 300px;
      font-size: 15px;
    }
    .example-label{
        color: rgb(0, 0, 0);
        
    }
    .example-button{
        display: flex;
        justify-content:space-between;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
      }
      .name-link{
        color: #1a73e8;
        
      }
      .button-colour{
        background-color: #1a73e8;
        
      }