
  body { 
    font-family: Roboto, Arial, sans-serif;
    padding-top: 150px;
    padding-left: 450px;
    padding-bottom: 150px;
    
  }


  .example-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .example-card{
    width: 300px;
  }

  .example-name-main{
    padding-left: 90px;
  color:#000000;
    width: 300px;
    font-size: 25px;
  }
  .example-name {
    justify-content: center;
    padding-left: 75px;
    color:#1a73e8;
    font-size: 15px;
    }
    .example-label{
        color: rgb(0, 0, 0);
        
    }
    .example-button{
        display: flex;
        justify-content:space-between;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
      }
      .name-link{
        color: #1a73e8;
        
      }
      .button-colour{
        background-color: #1a73e8;
        
      }