<html>
    <body>
      <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-card class="example-card">
    <mat-card-header class="example-header">
      
      <mat-card-title class="example-name-main">Fundoo</mat-card-title>
      <mat-card-subtitle class="example-name">Forgot Password ?</mat-card-subtitle>
    
    </mat-card-header>

    <div class="example-container">
      <mat-form-field appearance="outline">
      <mat-label class="example-label">Email</mat-label>
      <input type="text" formControlName="email" matInput placeholder="Email" required>
      </mat-form-field>

      <mat-card-actions class="example-button">  
          <button mat-button aria-label="Show an example snack-bar" mat-raised-button class="button-colour" routerLink="/newpassword">Next</button>
      </mat-card-actions>
      </div>
    </mat-card>
  
  </form>
  </body>
  </html>

