

  body { 
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    padding-top: 150px;
    padding-left: 450px;
    padding-bottom: 150px;
    
  }
  .example-container {
    display: flex;
    flex-direction: column;
    
  }

  
  
  .example-card{
    width: 340px;
  }
  
  .example-container {
    width: 100%;
    height: 100%;
  }

  .example-name {
    text-align: center;
    color:#1a73e8;
      font-size: 15px;
    }
    .example-name-main{
        text-align: center;
      color:#000000;
        width: 300px;
        font-size: 25px;
      }
      
      .example-button{
        display: flex;
        justify-content:space-between;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
      }


      .name-link{
        color: #1a73e8;
      }

      .mat-form-field-appearance-outline {

        border-top-color: #000000;
        outline-color: blue;
      }
      .button-colour{
        background-color: #1a73e8;
      }

  
  
  
  